/* General Layout */


body {
  font-family: "font-lato";
}
.container{max-width: 1440px !important;  }

.container-1{max-width: 1640px !important;}
.container-2{max-width: 1667px !important;}

.border-blue{color: #064681;}
.f1-color{color: #274760;}
.f2-color{color:#064681}
.f2-hover{color: #064681;}
.f2-bg{background-color: #064681;}
.f4-color{color: #969696;}
.contact-bg{background-color: #EEEEEC;}
.f5-bg{background-color: #edf0f3;}
.card-bg{background-color: #acddf35f;}
.section-bg{background-color: #edf0f3;}

.f3-color{color:#333333}
.font-lato{
  font-family: Lato;
font-size: 16px;
font-weight: 500;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

