/* General Layout */


body {
  font-family: "font-lato";
}
.container{max-width: 1440px !important;  }
footer {
  padding: 20px;
  background: #f9fafb; /* Add light background if no image */
}

footer .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f1f5f9;
  border-radius: 50%;
  transition: background-color 0.3s;
}

footer .icon-wrapper:hover {
  background-color: #e2e8f0;
}

.border-blue{color: #064681;}
.f1-color{color: #274760;}
.f2-color{color:#064681}
.f2-hover{color: #064681;}
.f2-bg{background-color: #064681;}

.f3-color{color:#333333}
.font-lato{
  font-family: Lato;
font-size: 16px;
font-weight: 500;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}